@{
    ViewData["Title"] = "Home Page";
}

@model Brewery
<link rel="stylesheet" type="text/css" href="styles.css" />
<div class="text-center">
    <h1 class="display-4">Drink Local</h1>
    <p>Enter your city below to see local breweries.</p>
</div>


<div style="width: 20%; margin: 0 auto" class="text-center">
    <div class="form-row align-items-center">
        @using (Html.BeginForm("Index", "Home", FormMethod.Get))
        {
            <div class="form-group">
                <input type="text" name="City" class="form-control text-center" maxlength="25" />
            </div>
            <br />

            <input type="submit" value="Go" class="btn btn-dark" />
        }
    </div>
</div>



@if(Model.Breweries != null)
 {
  <h2>Breweries</h2>
    <table class="table table-bordered table-striped table-hover table-dark">
    <tr>
        <th>Name</th>
        <th>Street</th>
        <th>City</th>
        <th>State</th>
        <th>PostalCode</th>
        <th>Phone</th>
        <th>Longitude</th>
        <th>Latitude</th>
    </tr>

        @foreach (var item in @Model.Breweries)
        {
             <tr>
                    <td>@item.Name</td>
                    <td>@item.Street</td>
                    <td>@item.City</td>
                    <td>@item.State</td>
                    <td>@item.PostalCode</td>
                    <td>@item.Phone</td>
                    <td>@item.Longitude</td>
                    <td>@item.Latitude</td>
                </tr>
        }
    
   

</table>
}